.output-container {
    width: 850px;
    height: 31vh;
    padding: 5px;
    margin-bottom: 10px;
    justify-content: center;
    background-color: #2d3748;
    border-radius: 10px;
    box-shadow:-4px 4px 6px #4a5568;
    margin-left: 6px;
}
  
.output-box {
    padding: 10px;
    height: 27vh;
    border: 1px solid #333;
    border-radius: 10px; 
    background-color: #f9f9f9;
    /* overflow-y: auto; */
    color: #000;
}
  
.output-box.error {
    border-color: #e53e3e;
    color: #e53e3e;
}
  