.calculatorContainer {
  /* width: 100%;
  height: 100%; */
  /* margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px; */
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 28px;
}

.calculator {
  width: 390px;
  height: 100%;
  border-radius: 10px;
  box-shadow: -4px 4px 6px #4a5568;
}

.calculator .header {
  background-color: #414040;
  height: 100px;
  border-radius: 10px 10px 0 0;
}

.calculator .header .window {
  height: 15px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.calculator .header .window span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.calculator .header .window .red {
  background-color: #ff5252;
}

.calculator .header .window .yellow {
  background-color: #f5a623;
}

.calculator .header .window .green {
  background-color: #73c21d;
}

.calculator .header .input {
  color: #7e7e7e;
  text-align: right;
  font-size:20px ;
  padding: 10px 30px;
}

.calculator .header .input span {
  color: #ffffff;
}

.calculator .keys {
  background: linear-gradient(135deg, #3a3a3a, #000000);
  height: 280px;
  border-radius: 0 0 10px 10px;
  font-size: 24px;
}

.calculator .keys .row {
  height: 70px;
  display: flex;
  flex-direction: column;
}

.calculator .keys .number {
  width: 75%;
  display: flex;
  color: #ffffff;
}

.calculator .keys .number span {
  width: calc(100% / 3);
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.calculator .keys .symbol {
  width: 25%;
  background-color: #ffffff;
  font-size: 34px;
  transform: translate(292px, -279px);
}

.calculator .keys .symbol span {
  width: 100%;
  height: 55px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.calculator .keys .symbol.action {
  background: linear-gradient(60deg, #ff0300, #ffa100);
  border-radius: 0 0 10px 0;
  color: #ffffff;
  box-shadow: 0 25px 60px -10px rgba(255, 10, 0, 0.5);
  height: 59px;
}

.dull {
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
} 