.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  max-width: 700px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.step-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px;
}

.step-explanation {
  text-align: start;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.code-block {
  text-align: start;
  background-color: #282c34;
  color: #61dafb;
  padding: 10px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  overflow-x: auto;
  white-space: pre-wrap;
  line-height: 1.5;
}

.code-block code {
  color: #f8f8f2; /* Lighter color for better readability */
}

.inst-btn {
  padding: 10px 15px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s;
  margin: 5px;
}

.inst-btn:hover {
  background-color: #2980b9;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #ff0000; /* Optional: Highlight on hover */
}
.language-switch {
  position: absolute;
  top: 10px;
  left: 10px;
}

.lang-btn {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 3px;
}

.lang-btn.active {
  background-color: #007bff;
  color: #fff;
}

