.App {
  text-align: center;
  display: flex;
  /* width: 100%; */
  margin: 0;
  padding: 0;
  /* background: url('https://images.unsplash.com/photo-1500964757637-c85e8a162699?q=80&w=1503&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed; */
  background: url('https://img.freepik.com/free-vector/realistic-background-futuristic-style_23-2149129125.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  text-align: center;
  
}
/* Popup animation styles */
@keyframes popupAnimation {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  animation: popupAnimation 3s ease-out;
}

.popup input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup button {
  margin-top: 10px;
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background: #0056b3;
}
.popup img{
  width: 10%;
  height: 10%;
  padding:10px 10px 10px 10px;
}

/* Welcome Screen */
.welcome-screen {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 100%; 
}

.welcome-screen header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #007bff;
}

.centered-container {
  position: absolute; 
  width: 100%;
  left: 50%; 
  margin-top: 120px;
  transform: translate(-50%, -50%); 
  text-align: center; 
  border: 2px solid rgba(235, 235, 235, .35);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: 12px;
}

.ActContainer{
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 20px; 
  justify-content: space-evenly; 
  flex-wrap: wrap; 
  padding: 0px 60px 0px 65px;
}
.admin-button {
  position: absolute;
  /* top: 0.5rem; 
  right: 0.5rem;  */
  padding: 0.5rem;  
  bottom: 0.5rem;
  background: transparent; 
  border-radius: none;
  border: none; 
  cursor: pointer; 
}
.admin-image{
  width: 2.5rem; 
  height: 2.5rem;
  object-fit: cover; 
}

/* .activity-page{
  width: 100vw; 
  height: 100vh;
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color: black;
  background-size: cover;
} */
